/* .evenements-page {

    margin: 0 auto;
    background-color: #845ec2;
    width: 1500px;
    height: 500px;
    border-radius: 7px;
    box-shadow: 5px 7px 12px 1px rgba(0, 0, 0, 0.31);
    transition: 500ms;
}

.evenements-page:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: #8b64c9;
    box-shadow: 5px 7px 12px 1px rgba(0, 0, 0, 0.14);
} */

/* .about-us-page {
    margin: 0 auto;
    background-color: #d65db1;
    width: 1500px;
    height: 500px;
    border-radius: 7px;
    box-shadow: 5px 7px 12px 1px rgba(0, 0, 0, 0.31);
}

.contact-page {
    margin: 0 auto;
    background-color: #ff6f91;
    width: 1500px;
    height: 500px;
    border-radius: 7px;
    box-shadow: 5px 7px 12px 1px rgba(0, 0, 0, 0.31);
}



.blank-space {
    height: 50px;
} */

body {
    margin: 0px;
    background-color: #ffffff;
}

/* .left {
    float: left;
    width: 40%;
    color: white;
    height: 100px;
}

.right {
    float: right;
    width: 40%;
    color: black;
    height: 100px;
} */

.hero-image{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.topnav {
    overflow: hidden;
    background-color: #FFDE07;
  }
  
  .topnav a {
    margin-right: 10px;
    color: #000000;
    padding: 17px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #000000;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

  .navbar a{
    margin-right: 10px;
    color: #000000;
    padding: 17px;
    text-decoration: none;
    font-size: 17px;
    float: right;
  }

  .navbar{
      background-color: #FFDE07;
      overflow: hidden;
      top: 0;
      width: 100%;
      z-index: 2;
      position: sticky;
  }



  .footer {
    width: 100%;
    height: 300px;
    background-color: #006266;
}

.home-page{
    width: 100%;
    height: 1000px;
}